.feed {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 17px;
}

.post {
    background: white;
    color: black;
    border-radius: 10px;
    overflow: hidden;
}

.image {
    height: 282px;
    width: 100%;
    display: block;
    object-fit: cover;
}

.action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 15px 31px 21px;
    position: relative;
    z-index: 1000;
}

.city {
    font-weight: 600;
    font-size: 1.5rem;
}
